.private-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.private-layout__content {
  flex: 1;
  padding: 1.5rem;
  background-color: var(--moon-content-bg);
  min-width: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
